<h1>Ajaxの練習</h1>
<ul>
<li><%= link_to "fruits", fruits_path %></li>
<li><%= link_to "practice", practice_index_path %></li>
<li><%= link_to "apples", apples_path %></li>
<li><%= link_to "users", users_path %></li>
<li><%= link_to "static", static_top_path %></li>
</ul>